PORT=3001
NODE_ENV="development"
LOG_LEVEL="info"
# required
REDIS_HOST="127.0.0.1"
# required
REDIS_PORT=6379
# required
REDIS_USERNAME="default"
# required
REDIS_PASSWORD="redis"
# required
CORS_ORIGIN="http://localhost:3000"
# Optional
MESSAGE_RETRY_ATTEMPTS=2
# Optional
MESSAGE_RETRY_DELAY=1000